<h1>Edit</h1>
<br />

<div *ngIf="day">
    <form (ngSubmit)="onSubmit()" [formGroup] = "editForm">
        <div>
            <div hidden>
                <input matInput placeholder="DayID" formControlName="DayID" type="number" required [value] ="day.DayID"/>
            </div>
            <div>
                <input matInput placeholder="DayName" formControlName="DayName" type="text" required [value] ="day.DayName"/>
            </div>
            <div>
                <input matInput placeholder="Date" formControlName="Date" type="text" required [value] ="day.DayName"/>
            </div>
        </div>
        <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
    </form>
</div>

<a mat-button routerLin='notes'>Back to List</a>
